*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */


.row{
    display: flex;
}



body{
    color:white;
    /* test */
    
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

/* aside */

aside{
    width: 230px;
    height: calc(100vh - 90px);  /* tutta l'altezza della viewport - l'altezza della play-bar*/

    padding-left:18px;
    padding-right:76px;

    color:white;
    background-color:black;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;


    height: 84px;
}

#small-logo{
    display: none;
}

aside ul{
    list-style-type: none;
}


.icon{
    width: 20px;
    vertical-align: middle;
}

aside nav{
    margin-bottom: 30px;
}

aside a{
    opacity:0.5;
    transition: 0.3s;
}

aside a:hover{
    opacity: 1;
}

aside nav a{
    display: inline-block;
    padding: 7px 0;
}


.playlist li:first-of-type{
    font-weight: bold;
    margin-bottom: 14px;
}

.playlist li:nth-of-type(n + 2){
    margin-bottom: 26px;
}

/* fine aside */



/* main */

main{
    flex-grow:1;
    height: calc(100vh - 90px);

    overflow: auto;

    background-color: #141922;
}


.top-bar-main{
    display: flex;
    justify-content: flex-end;
    align-items:center;

    padding: 0 20px;;
    
    width: calc(100% - 230px);
    height: 90px;

    position: fixed;
    top:0;
    right:0;

    text-align: end;

    background-color: rgba(0, 0, 0, 0.3);
}

.btn{
    border:1px solid white;
    border-radius: 40px;;
}

.top-bar-main a{
    display: inline-block;
    padding: 15px 40px;
}


.main-container{

    padding: calc(22px + 90px);  /*padding del container + la grandezza della top-bar*/
}

main nav{
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
}

main ul.row{
    gap:24px;

    list-style-type: none;
}

.song.row{
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    gap:14px;

    margin-bottom: 44px;
}


h2{

    margin-bottom: 36px;
}

.col{
    background-color: blue;
    width: calc(100% / 6 - 14px / 6 * 5);
    /* test */
    /* max-width: 200px; */
    text-align: center;
}

img{
    width: 100%;
}

.img-box{
    background-color: white;
    color:red;
    /* test */

    width: 100%;

    /* height: 200px; */
}

/* fine main */


/* play-bar */

.play-bar{
    position: fixed;
    bottom: 0;
    z-index: 2;

    width: 100vw;
    height: 90px;

    background-color: #282828;
}


.play-bar.row{
    justify-content: space-between;
    align-items: center;
}

.left-side, .right-side{
    background-color: cornflowerblue;
    /* test */
    width: 230px;
}

.play-bar .img-song{
    width: 50px;
    height: 50px;

    background-color: aqua;

}

.song-inf.row{
    flex-direction: column;
}

/* fine play-bar */










/* 
    responsive
*/


/* dispositivo M */

@media screen and (max-width: 992px) {
    /* main */

    .song.row{
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 4 - 14px /4 * 3);
    }
}



/* responsive S */

@media screen and (max-width: 768px) {
    /* main */

    .song.row{
        flex-wrap: wrap;
    }

    .col{
        width: calc(50% - 14px);
    }
}



/* responsive XS */


@media screen and (max-width: 425px) {
    
    /* aside */

    aside{
        width: auto;
    }

    .playlist ul{
        display: none;
    }
}
