*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */


.row{
    display: flex;
}



body{
    color:white;
    /* test */

    font-family: sans-serif;
}


/* aside */

aside{
    width: 230px;
    height: calc(100vh - 90px);  /* tutta l'altezza della viewport - l'altezza della play-bar*/

    color:white;
    background-color:black;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;
    /* test */

    height: 84px;
}

aside nav a{
    background-color: darkgreen;
    /* test */
    display: inline-block;
    padding: 7px 0;
}

.playlist li{
    background-color: grey;
}
/* test */

.playlist li:nth-of-type(n + 2){
    margin-bottom: 26px;
}

/* fine aside */



/* main */

main{
    flex-grow:1;

    overflow: auto;

    background-color: #141922;
}


.top-bar-main{
    padding-top: 20px;
    padding-bottom: 28px;
    padding-right: 5px;

    text-align: end;

    background-color: rgba(0, 0, 0, 0.3);
}


.main-container{
    padding: 22px;
}

main nav{
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
}

main ul.row{
    gap:24px;

    list-style-type: none;
}

.result-inner .row{
    flex-wrap: wrap;
    gap:14px;
}


h2{

    margin-bottom: 36px;
}

.col{
    background-color: blue;
    /* test */

    text-align: center;
}

.img-box{
    background-color: white;
    /* test */

    width: 200px;
    height: 200px;
}

/* fine main */


/* play-bar */

.play-bar{
    position: fixed;


    width: 100vw;
    height: 90px;

    background-color: #282828;
}


.play-bar.row{
    justify-content: space-between;
    align-items: center;
}

.left-side, .right-side{
    background-color: cornflowerblue;
    /* test */
    width: 230px;
}

.play-bar .img-song{
    width: 50px;
    height: 50px;

    background-color: aqua;

}

.song-inf.row{
    flex-direction: column;
}

/* fine play-bar */